<section class="about-us">
  <div class="toolbar"></div>
  <div class="header">
    <div class="wrapper">
      <video autoplay muted loop id="myVideo">
        <source src="/assets/about-us/about-us-header.mp4" type="video/mp4">
      </video>
      <div class="viewport-header">

        <h1 class="showcase_picture-content-title">
          Poznajmy się <span>lepiej</span> 
        </h1>

      </div>
    </div>
  </div>
<div class="about-us_content">

<div class="v"></div>
<h3>Parę słów o nas</h3>
<p>Jesteśmy młodym i kreatywnym zespołem, który powstał jako odpowiedź rynku na braki specjalistów w segmencie reklamy wideo.

  Składamy się z fachowców, którzy mają doświadczenie marketingowe związane z pracą w agencjach marketingowych, marketingowych działach in-house w różnych firmach oraz działaniach freelancerskich. </p>

<h4>
  CEO – Cezary Skowron
</h4>
<p> specjalista od wideo marketingu, doświadczenie z pracą za kamerą oraz montażem zdobywał jeszcze na studiach. Magister dziennikarstwa i komunikacji społecznej. </p>

<div class="about-us-photo"></div>
</div>
</section>