<section class="contact-us">
  <div class="toolbar"></div>
  <div class="content">
<div class="contac-us_text">
  <h2>Tworzymy filmy, które wspierają Twój biznes</h2>
  <p>Rozpocznij z nami współpracę i pojaw się na ekranach. Jesteśmy agencją interaktywną, która stworzy dla Ciebie i Twojego biznesu indywidualny plan i strategię wideo marketingu wspieraną przez inne techniki reklamowe. 

</p>
</div>
<div class="contac-us_form">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
</section>
