.nav {

    width: 100%;
    height: 12rem;
    position: fixed;


    // display: grid;
    // grid-row: 2 1fr;

    gap: 0;

    background:
    // linear-gradient(to top,  #1e445d, #2c3e50);
    linear-gradient(to top,  #2f2f2f, #212121);

      
        // background:
        // linear-gradient(to top,  #1e445d, #2c3e50),
        // url(https://grainy-gradients.vercel.app/noise.svg);
        // opacity: 90%;
    overflow: hidden;
    color: whitesmoke;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);


    &_logo {
        display: flex;
        justify-self: center;
        align-items: center;

        img {
            max-width: 15rem;
            max-height: 15rem;
        }
    }

    &_links {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: whitesmoke;
        text-transform: uppercase;

        a {
            font-size: calc(0.5rem + 0.5vw), ;

            padding: 0.8rem;
            place-self: start;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease;
        }
    }

    .active{
        border-bottom: 0.1rem solid #ffc900 ;
    }
}
