.volvo {

    display: grid;
    grid-template-columns:
        [container-start] 1fr [center-start] repeat(5,
            [col-start] minmax(min-content, 30rem) [col-end]) [center-end] 1fr [container-end];

    grid-template-rows: repeat 4(25vh);
    gap: 2rem;
    background:

        linear-gradient(to top, #2f2f2f, #212121);
      min-height: 100vh;
      padding: 4vh 4vw;

   


    .content {
        grid-column-start: 2;
        grid-column-end: 7;


        grid-row-start: 2;
        grid-row-end: 3;
   



    }

.header{
    display: flex;
    flex-direction:row;
    justify-self: center;
    grid-column: center-start/center-end;
    grid-column-start: 3;
    grid-column-end: 6;
    margin-top: 15rem;
    font-size: calc(3rem + 2vw), ;
    font-weight: 500;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 0.5rem;
    position: relative;
    padding: 2vh 2vw;
    span{
        font-size: calc(3rem + 2vw), ;
        font-weight: 100;
        text-transform: uppercase;
        color: #81807db8;
        text-align: center;
        letter-spacing: 0.5rem;
        position: relative;
        padding: 2vh 2vw;
        transition: all 0.5s ease-in-out;
    }

    span:hover{
        color: #ffc900;
        cursor: pointer;
    }
}

    h1 {

     
        font-size: calc(3rem + 2vw), ;
        font-weight: 500;
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        letter-spacing: 0.5rem;
        position: relative;
        padding: 2vh 2vw;
      
    





    }

    .header:after {
      
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        background-color: #81807db8;
        height: 0.1rem;
        justify-self: center;
     
      


    }



    img {
  max-height: 70vh;
  object-fit: cover;
  object-position: center;

    }





    .carousel {
        grid-column: container-start/conteinar-end;
        padding-right: 5vw;
        padding-left: 5vw;
        // display: flex;
        // justify-content: center;

        ;

    }


    .carousel-control-prev {
        background-color: #ffc900;
        ;
        height: 30%;
        width: 5%;
        top: 30%;

    }

    .carousel-control-next {
        background-color: #ffc900;
        ;
        height: 30%;
        width: 5%;
        top: 30%
    }


}