
<section class="volvo" *ngIf="album">

<div class="header"><span routerLink="/gallery/{{album.prev}}"><</span><h1>{{album.label}}</h1> <span routerLink="/gallery/{{album.next}}">></span></div>

  <div class="content">




<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <!-- <div class="carousel-item active ">
      <img src="assets{{album.photos[0].img}}" class="d-inline-block w-100  " alt="...">
    </div> -->
    <div *ngFor="let photo of album.photos ; first as isFirst"  [class.active]="isFirst" class="carousel-item ">
     
      <img src="assets/{{photo.img}}"  class="d-block w-100" alt="...">
    </div>

  
  </div>
  <button class="carousel-control-prev" type="button " data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div>



</section>
