<section class="gallery">
  <div class="toolbar"></div>
  <div class="gallery_content">
    <h1>albumy</h1>

    <div class="gallery_content-photos">
<span *ngFor="let album of albums">
      <div class="gallery_card" routerLink="{{album.link}}">
        <h4 class="gallery_card-title">{{album.link}}</h4>
        <img src='assets/{{album.thumbnail}}' alt="tdp" class="gallery_card-img">
      </div>
    </span>
      <!-- <div class="gallery_card">
        <h4 class="gallery_card-title">tour de pologne</h4>
        <img src="assets/covers/tdp-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>


      <div class="gallery_card">
        <h4 class="gallery_card-title">sesja lekarska</h4>
        <img src="assets/covers/med-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

   
      <div class="gallery_card">
        <h4 class="gallery_card-title">ślub</h4>
        <img src="assets/covers/wedding-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">park</h4>
        <img src="assets/covers/park-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">gitara</h4>
        <img src="assets/covers/guitar-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">rower</h4>
        <img src="assets/covers/bike-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">sesja wizeerunkowa</h4>
        <img src="assets/covers/gentelman-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">gliwice</h4>
        <img src="assets/covers/gliwice-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">wakacje</h4>
        <img src="assets/covers/holiday-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">mostostal </h4>
        <img src="assets/covers/mostostal-cover.jpg" alt="tdp" class="gallery_card-img">
      </div>

      <div class="gallery_card">
        <h4 class="gallery_card-title">mostostal budynek</h4>
        <img src="assets/covers/logo-cover.jpg" alt="tdp" class="gallery_card-img">
      </div> -->

    </div>



  </div>
</section>