<section class="video-marketing">
  <div class="toolbar"></div>
  <div class="video-marketing_video">
    <div class="wrapper">
      <video autoplay muted loop id="myVideo">
        <source src="/assets/video-header.mp4" type="video/mp4">
      </video>
      <div class="viewport-header">

        <h1 class="showcase_picture-content-title">
          Oferta <span>wideo</span> marketingu
        </h1>

      </div>
    </div>
  </div>

  <div class="video-marketing_movies" id="movies">
    <div class="photo">
      <img  class="img-fluid" src="assets/video-marketing/video-marketing-movie.jpg" alt="">
    </div>
    <div class="content">
      <h2>Filmy reklamowe</h2>
      <p>Filmy reklamowe są skutecznym narzędziem do promocji firmy, jej usług lub produktów. Postaw na ten format, by
        być krok przed konkurencją. Dzięki nim można dotrzeć do szerokiego grona odbiorców za niewielkie sumy!

        By to zrobić warto mieć w arsenale profesjonalnie zrealizowany film, który przyciągnie uwagę i zapadnie w pamięć
        potencjalnych klientów. Dlatego, jeśli myślisz o tym formacie, powierz jego produkcję specjalistom, którzy
        doskonale wiedzą co robią. Z Twoim pomysłem i naszym doświadczeniem stworzymy coś naprawdę kreatywnego.

        Nasza agencja specjalizuje się w produkcji filmów reklamowych. Wyróżniają się one wysoką jakością oraz
        oryginalnym i indywidualnym podejściem do tematu. Nasz zespół składa się z doświadczonych kreatywnych ludzi,
        którzy potrafią stworzyć film dopasowany do Twoich indywidualnych potrzeb!</p>
    </div>
  </div>

  <div class="video-marketin_sm"  id= "sm">
    <div class="content">
      <h2>Rolki Instagram/Tiktok</h2>
      <p>Social Media są najpopularniejszą formą komunikacji marketingowej. Jeśli chcesz zaistnieć, po prostu musisz tam
        być!

        Rolki, czyli krótkie filmy wideo, są formą, która pozwala na dotarcie do wyjątkowo szerokiego grona odbiorców.
        Dzięki nim, w atrakcyjny i przystępny sposób przekażesz informacje na temat marki, usług czy produktów.

        Zawsze dostosowujemy film w taki sposób, by jak najlepiej rezonował z grupą odbiorców, do której ma trafić.
        Dzięki takiemu podejściu znacznie rośnie prawdopodobieństwo na sprzedaż produktu lub usługi.</p>
    </div>
    <div class="photo">
      <img class="img-fluid" src="assets/video-marketing/video-marketing-sm.jpg"  alt="">
    </div>

  </div>


  <div class="video-marketing_products"  id= "product">
    <div class="photo">
      <img class="img-fluid" src="assets/video-marketing/video-marketing-product.jpg" alt="">
    </div>
    <div class="content">
      <h2>Filmy produktowe</h2>
      <p>Film produktowy jest niezwykle skutecznym narzędziem marketingowym. Świetnie uzupełnia działania promocyjne
        marki. Dzięki tej formie można łatwo/prosto przedstawić potencjalnym klientom specyfikę oraz pozytywne cechy
        oferowanych usług i produktów.

        Do każdego filmu produktowego podchodzimy indywidualnie, dzięki temu zachowujemy wysoką jakość. Przedstaw nam
        swoją wizję, a nasz zespół przeniesie ją na ekrany.</p>
    </div>
  </div>


  <div class="video-marketing_mv"  id= "mv">
    <div class="content">
      <h2>Teledyski</h2>
      <p>Nagrywanie teledysków jest procesem wymagającym nie tylko wiedzy technicznej, ale przede wszystkim
        kreatywności! Nasz zespół łączy oba te elementy! Jeśli chcesz stworzyć profesjonalny teledysk, skontaktuj się z
        nami. Do każdego projektu podchodzimy indywidualnie.

        Jak będzie przebiegać współpraca? Zawsze zaczynamy od określenia koncepcji teledysku i stworzenia scenariusza.
        Następnie ustalamy budżet, po czym przechodzimy do planowania i przygotowania produkcji. Gdy już wszystko jest
        dopięte na ostatni guzik, rozpoczyna się właściwe kręcenie teledysku. Po nagraniu materiału rozpoczynamy prace
        nad postprodukcją ( montaż materiału, dodanie efektów wizualnych, dopasowanie dźwięku, korekcję kolorów, napisy,
        animacje i wiele innych szczegółów). Ostatnim etapem jest zatwierdzenie teledysku, to Ty podejmujesz decyzję o
        jego zatwierdzeniu lub ewentualnych poprawkach.</p>
    </div>
    <div class="photo">
      <img  class="img-fluid" src="assets/video-marketing/video-marketing-mv.jpg" alt="">
    </div>

  </div>


  <div class="video-marketing_products"   id= "party">
    <div class="photo">
      <img class="img-fluid" src="assets/video-marketing/video-marketing-party.jpg" alt="">
    </div>
    <div class="content">
      <h2>Relacje z imprez</h2>
      <p>Relacje wideo z imprez są coraz bardziej popularne i często wykorzystywane w dzisiejszych czasach. Dzięki
        możliwościom technologicznym, takim jak transmisje na żywo, internet i media społecznościowe, możemy teraz łatwo
        udostępniać wideo z wydarzeń na całym świecie.

        Relacje wideo z imprez pozwalają nam na przeżywanie wydarzeń, których nie możemy osobiście uczestniczyć, a także
        na relacjonowanie ich przebiegu dla innych osób.

        Wideo relacje stanowią niezbędny element wielu wydarzeń. Dzięki temu, możemy dzielić się z innymi naszymi
        przeżyciami, a także być na bieżąco z wydarzeniami na całym świecie.</p>
    </div>
  </div>

  <div class="video-marketing_mv"  id= "dron">
    <div class="content">
      <h2>Filmy z drona</h2>
      <p>Filmy z drona są coraz popularniejszą formą, która pozwala uchwycić niesamowite ujęcia z wyjątkowej
        perspektywy. Jeśli szukasz nowych, oryginalnych ujęć (daj synonim), szukasz pod właściwym adresem!

        Specjalizujemy się w produkcji filmów z wykorzystaniem drona. Przedstaw nam swoją wizję, a nasz zespół, bazując
        na swojej wiedzy i doświadczeniu, spełni Twoje nawet najbardziej kreatywne oczekiwania!

        Jak przebiega współpraca? Najpierw zasiądziemy do stworzenia koncepcji filmu. Później przyjdzie czas na
        planowanie. Po planowaniu realizacja ujęć i postprodukcja. Na końcu otrzymujesz ostateczną wersję filmu, którą
        zatwierdzasz. Dzięki wykorzystaniu najnowocześniejszego sprzętu jakość filmu będzie na najwyższym możliwym
        poziomie.</p>
    </div>
    <div class="photo">
      <img class="img-fluid" src="assets/video-marketing/video-marketing-dron.jpg" alt="">
    </div>

  </div>




</section>